@import './font.scss';
@import './breakpoint';

.font-oswald {
  font-family: 'Oswald';
}

.font-lato {
  font-family: 'Lato';
}

#splide {
  .splide__arrow {
    width: 46px !important;
    height: 46px !important;
    top: 20% !important;
    background: #89b2de !important;
    opacity: unset !important;
    svg {
      fill: #fff !important;
    }
    &:disabled {
      background: rgba(137, 178, 222, 0.2) !important;
      svg {
        fill: #89b2de !important;
      }
    }

    @include screen(md) {
      top: 45% !important;

      &.splide__arrow--prev {
        left: -100px;
      }
      &.splide__arrow--next {
        right: -100px;
      }
    }
  }

  .splide__pagination {
    @include screen(md) {
      display: none;
    }
  }
}

#splide2 {
  .splide__arrow {
    width: 46px !important;
    height: 46px !important;
    top: 20% !important;
    background: #89b2de !important;
    opacity: unset !important;
    svg {
      fill: #fff !important;
    }
    &:disabled {
      background: rgba(137, 178, 222, 0.2) !important;
      svg {
        fill: #89b2de !important;
      }
    }

    @include screen(md) {
      top: 45% !important;
    }
  }

  .splide__pagination {
    bottom: -39px !important;
    width: 234px !important;
    display: flex !important;
    margin: auto !important;
    li {
      flex: 1;
      button {
        opacity: 1 !important;
        border-top: 1px solid #89b2de;
        height: 0 !important;
        width: 100% !important;
        border-radius: unset !important;
        &:focus {
          outline: unset !important;
        }
      }
      .splide__pagination__page {
        &.is-active {
          transform: unset !important;
          border-top: 0 !important;
          border-bottom: 4px solid #89b2de;
        }
      }
    }
    @include screen(md) {
      width: 600px !important;
      bottom: -70px !important;
    }
  }
}

.marquee-wrap {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 9;
    height: 250px;
    background-image: linear-gradient(
      180deg,
      rgba(137 178 222 / 70%),
      hsla(0, 0%, 100%, 0)
    );
  }

  &:after {
    position: absolute;
    content: '';
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 9;
    height: 100px;
    background-image: linear-gradient(
      0deg,
      rgba(137 178 222 / 30%),
      hsla(0, 0%, 100%, 0)
    );
  }
}

.box-shadow {
  box-shadow: -8px 4px 16px 4px rgb(0 0 0 / 20%);
}

// #marquee1 {
//   animation: marquee1 30s linear infinite;
// }

// #marquee2 {
//   animation: marquee2 30s linear infinite;
// }

@keyframes marquee1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% + 326px));
  }
}

@keyframes marquee2 {
  0% {
    transform: translateY(calc(-100% + 326px));
  }
  100% {
    transform: translateY(0);
  }
}

.animate__animated {
  visibility: hidden;
}

.btn-timeline {
  &.left {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 46%;
      left: -40px;
      width: 40px;
      height: 12px;
      background-image: url(/images/timeline-left.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &.right {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 46%;
      right: -40px;
      width: 40px;
      height: 12px;
      background-image: url(/images/timeline-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      transform: scaleX(-1);
    }
  }
}

.time-line-row {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 49.5%;
    width: 1px;
    border-left: 1px dotted #89b2de;
  }
  &.row-1 {
    &:after {
      height: 155px;
      top: 75%;
    }
  }
  &.row-2 {
    &:after {
      height: 94px;
      top: 100%;
    }
  }
  &.row-3 {
    &:after {
      height: 241px;
      top: 55%;
    }
  }
  &.row-4 {
    &:after {
      height: 210px;
      top: 30%;
    }
  }
}

#back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7a1a7;
  cursor: pointer;
  border: 0;
  bottom: -40px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  outline: none;
  position: fixed;
  right: 16px;
  transition: 0.3s;
  visibility: hidden;
  z-index: 1020;
  &.show {
    visibility: visible;
    bottom: 32px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
